.card {
  @extend %card-base;
  background-color: $white;
  margin-bottom: 10px;
}

.card-inverted {
  @extend %card-base;
  background-color: $dark;
  color: $off-white;

  a {
    color: $white;

    &:hover {
      color: $light-gray;
    }
  }
}

.card-preview {
  padding: 30px;
  width: 32%;
  min-width: 300px;
  max-height: 200px;

  img {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
  }

  @include bp-small {
    width: 100%;
  }
}
